<div class="desktop-icon" cdkDrag (cdkDragStarted)="setSelected.emit(this);dragging=true"
     [cdkDragDisabled]="notDraggable"
     (dblclick)="icon.doubleClick()"
     (cdkDragEnded)="dragging=false"
     (click)="setSelected.emit(this)"
     [ngClass]="{'grab':dragging,'selected':icon.selected}">
  <img src="{{icon.imgSrc}}"/>
  <div [ngClass]="{'black-text':blackText}">
    <a *ngIf="icon.href; else plain" [href]="icon.href" target="_blank" rel="noopener" (click)="$event.preventDefault()">{{icon.text}}</a>
    <ng-template #plain>{{icon.text}}</ng-template>
  </div>
</div>
